<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="EDMsEntities" connectionString="metadata=res://*/Code.EDMeEntities.csdl|res://*/Code.EDMeEntities.ssdl|res://*/Code.EDMeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RNDDEPT\MSSQLSERVER2012;initial catalog=EDMS_PECC2_TEST;user id=sa;password=qwe123QWE!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EDMsModel" connectionString="metadata=res://*/EntitiesModel.csdl|res://*/EntitiesModel.ssdl|res://*/EntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RNDDEPT\MSSQLSERVER2012;initial catalog=EDMS_PECC2_TEST;user id=sa;password=qwe123QWE!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesModelEDMS" connectionString="metadata=res://*/EntitiesModel.csdl|res://*/EntitiesModel.ssdl|res://*/EntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RNDDEPT\MSSQLSERVER2012;initial catalog=EDMS_PECC2_TEST;user id=sa;password=qwe123QWE!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>

    <add key="EDMsEntities" value="metadata=res://*/Entities.EDMsEntities.csdl|res://*/Entities.EDMsEntities.ssdl|res://*/Entities.EDMsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RNDDEPT\MSSQLSERVER2012;initial catalog=EDMS_PECC2_TEST;persist security info=True;User ID=sa;password=qwe123QWE!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>
    <add key="SqlClientConnectionString" value="metadata=res://*/Entities.EDMsEntities.csdl|res://*/Entities.EDMsEntities.ssdl|res://*/Entities.EDMsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RNDDEPT\MSSQLSERVER2012;initial catalog=EDMS_PECC2_TEST;Persist Security Info=True;User ID=sa;Password=qwe123QWE!@#;MultipleActiveResultSets=True&quot;"/>
    <add key="SiteSqlServer" value="Data Source=RNDDEPT\MSSQLSERVER2012;initial catalog=EDMS_PECC2_TEST;User ID=sa;Password=qwe123QWE!@#;"/>
    <add key="File" value="D:\02-Data\EDMSLog.txt"/>
    <add key="TimeSet" value="8;14"/>
    <add key="WebAddress" value="http://pvcfc.edms.vn"/>
    <add key="EmailAccount" value="pedms@bsr.com.vn"/>
    <add key="EmailPass" value="E@1234567"/>
    <add key="Host" value="mail.bsr.com.vn"/>
    <add key="Port" value="25"/>
    <!--<add key="EmailAccount" value="edmssystem@gmail.com"/>
    <add key="EmailPass" value="qwe123QWE!@#"/>
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587"/>-->
    <add key="UseDefaultCredentials" value="false"/>
    <add key="EnableSsl" value="false"/>
    <add key="SendEmail" value="true"/>
  </appSettings>

</configuration>
