<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="IsTesting" value="true"/>
    <add key="EnableMonthlyReport" value="false"/>
    <add key="EnableWeeklyReport" value="true"/>

    <add key="PartCompareData" value="E:\00. New Workspace\EAM_HongNgocHospital\Source\Service\EAM.MiccoNotification\Resource\Exported\"/>
    <add key="PartCompareTemplate" value="E:\00. New Workspace\EAM_HongNgocHospital\Source\Service\EAM.MiccoNotification\Resource\EAM-Fast Part Compare.xlsx"/>

    <add key="ProviderDB" value="SqlClient"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EmailName" value="CMMS Support"/>
    <add key="Email" value="cntt@micco.com.vn"/>
    <add key="EmailPass" value="cntt@123"/>
    <add key="Host" value="mail.micco.com.vn"/>
    <add key="Port" value="25"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="EnableSsl" value="false"/>
    
    <add key="DataFile" value="D:\MonthlyReport"/>
    
    <add key="ReportFolder" value="D:\MonthlyReport"/>
    
    
    
    <add key="BCC" value="nguyenvanhong@truetech.com.vn,vuhoanglamnhi@truetech.com.vn"/>
    
    <add key="MonthlyTo" value="ngohongcuong.anp@micco.com.vn;dohaidien.anp@micco.com.vn;nguyenhonglam.anp@micco.com.vn;phamduyvinh.anp@micco.com.vn; tranhaiha.anp@micco.com.vn;leson.anp@micco.com.vn;manhquang.micco@gmail.com"/>
    
  </appSettings>
  <connectionStrings>
    <add name="EDMsEntities" connectionString="metadata=res://*/Entities.EDMsEntities.csdl|res://*/Entities.EDMsEntities.ssdl|res://*/Entities.EDMsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-0VNMFDF\SQLEXPRESS2012;initial catalog=EDMS_PECC2_TEST;persist security info=True;User ID=edms;password=ptsc@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SQLConn" connectionString="Data Source=SVR-EAMDB-01;Initial catalog=EAMDB;User ID=sa;Password=Ingr.123;Min Pool Size=5;Max Pool Size=100;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
